<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
  </head>
  <body>
    <h1>The Login Fun Times Page!</h1>
    <form class="" action="/" method="post">
      <input type="text" name="userName" placeholder="Name" value="">
      <input type="email" name="email" placeholder="Email" value="">
      <input type="text" name="password" placeholder="Password" value="">
      <button type="submit" name="button">Log In</button>
    </form>
  </body>
</html>
