<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
  </head>
  <body>
    <h1>The Login Fun Times Page!</h1>
    <h1>Welcome back, {{user.name}}</h1>
  </body>
</html>
